<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to SUSI API!</h1>
            </hgroup>
            <p>
                SUSI API allows you to expose your get information from the student information system of the university of Sofia over HTTP.
            </p>
            <p>
                To learn more about SUSI API visit
                <a href="http://github.com/NikolaDimitroff/SusiParser" title="Github repo">the repository in github</a>.
				or 				
                @Html.ActionLink("the help section on this site.", "Index", "Help", new { area = "" }, null)
            </p>
        </div>
    </section>
</div>
